@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Subtitle"]</h3>

<p>
    Hello, my name is Filipe. <br />
    I am a system analyst and full stack developer.
    I love to code and technology! <br />
    Check out <a href="https://filipespadetto.github.io"><strong>my portfolio</strong></a>
    and look for other projects that I built in the past time.
</p>

<p>
    You can also check my Github repository at:
    <a href="https://github.com/filipespadetto/sales-web-mvc"><strong>Github repository - Sales Web MVC</strong></a>
</p>

<hr />

<p>
    Feel free to keep in touch with me
    LinkedIn: <a href="https://linkedin.com/in/filipespadetto"><strong>LinkedIn profile</strong></a>
    <br />
    E-mail: <a href="mailto:filipespadetto@gmail.com"><strong>filipespadetto@gmail.com</strong></a>
</p>